body {
	background-color: #222;
}

.title{
	color: #666890;
	z-index: 2;
}

.mark {
	height: 65px;
	width: 70px;
	background-color: white;
	border: 2px transparent;
	border-radius: 50%;
}

button:disabled {
	color: #000000;
}

.icon{
	font-size: 45px;
	text-align: center;
	line-height: 5%;
}